$darkgrey: #4d4b4b;
$white: #fff;
$turquoise: #82e0c1;

$font-family: 'Lato', sans-serif;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
  padding: 0;
  list-style: none;
	outline: none;
  border: none;
  appearance: none;
  background-color: transparent;
  color: $darkgrey;

}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  font-size: 1.1em;
  font-family: $font-family;
  color: $darkgrey;
  background-color: lighten($turquoise, 20);
}

#container {
  width: 90%;
  margin: 30px auto;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  
  background-color: $white;
}
p {
  margin-top: 5px;
}
#slider {
  width: 55%;
  max-height: 100%;
  text-align: center;
  position: relative;
  
  img {
    max-width: 100%;
    max-height: 450px;
  }
  
  #arrow {
    top: 50%;
    position: absolute;
    background: red;
    z-index: 10;
  }
}

#product-info {
  width: 45%;
  padding: 20px 30px;
  
  h2, .price {
    text-align: center;
    color: darken($darkgrey, 10);
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: 400;
  }
  
  .price {
    font-size: 1.5em;
    line-height: 1.5em;
    position: relative;
    
    // separator
    &:before {
      content: '';
      width: 100px;
      height: 14px;
      margin: 10px auto;
      position: relative;
      display: block;
      // border-radius: 50px;
      background-repeat: repeat;
      background: 
        linear-gradient(135deg, transparent, transparent  75%, lighten($turquoise, 10) 75%, lighten($turquoise, 10)),
        linear-gradient(225deg, transparent, transparent  75%, lighten($turquoise, 10) 75%, lighten($turquoise, 10)),
        linear-gradient(315deg, transparent, transparent  75%, lighten($turquoise, 10) 75%, lighten($turquoise, 10)),
        linear-gradient(45deg, transparent, transparent  75%, lighten($turquoise, 10) 75%, lighten($turquoise, 10));	
      background-position: 0.30em 0.30em, 0.30em 0.30em, 0 0.30em, 0 0.30em;
      background-size: 0.55em 0.55em;
    }
  }
  
}

.info-wrapper {
  min-height: 120px;
  margin: 30px 0 10px 0;
  clear: both;
  position: relative;
}

.tab {
  float: left;

  label {
    padding: 10px 35px 10px 0;
    cursor: pointer;
    
    span {
      padding-bottom: 3px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      border-bottom: 3px solid transparent;
      color: black;

    }
  }
  
  .content {
    position: absolute;
    top: 27px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    background-color: $white;
    
    ul {
      margin-left: 20px;
    }
    
    li {
      margin-bottom: 2px;
      list-style-type: disc;
    }
  }
  
  [type=radio] {
    display: none;
  }
  
  [type=radio]:checked ~ label span {
    background: $white;
    border-bottom: 3px solid $turquoise;
    z-index: 2;
  }
  
  [type=radio]:checked ~ .content {
    z-index: 1;
  }
}
$button: #49B956;
$button-hover: #60CF6F;

    .button {
        text-decoration: none;
        background: $button;
        color: white;
        font-size: 16px;
        font-weight: 500;
        padding: 12px 54px;
        border-radius: 5px;
        
        &:hover {
        background: $button-hover;
        }
    }



@media (max-width: 650px) {
  #container {
    width: 100%;
    height: auto;
    flex-flow: column wrap;
  }
  #slider, #product-info {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
}

// unslider 
.unslider { overflow: auto; margin: 0; padding: 0; } 
.unslider-wrap { position: relative; } 
.unslider-wrap.unslider-carousel>li { float: left; } 
.unslider-vertical>ul { height: 100% } 
.unslider-vertical li { float: none; width: 100%; } 
.unslider-fade { position: relative; } 
.unslider-fade .unslider-wrap li { position: absolute; left: 0; top: 0; right: 0; z-index: 8; } 
.unslider-fade .unslider-wrap li.unslider-active { z-index: 10; } 
.unslider li, .unslider ol, .unslider ul { list-style: none; margin: 0; padding: 0; border: none; } 

// .unslider-arrow { } .unslider-arrow.next { }

//unslider dots
.unslider-nav { margin-top: 10px; }
.unslider-nav ol { list-style: none; text-align: center; } 
.unslider-nav ol li { display: inline-block; width: 15px; height: 15px; margin: 0 10px; background: transparent; border-radius: 10px; overflow: hidden; text-indent: -999em; border: 2px solid #ddd; cursor: pointer; } 
.unslider-nav ol li.unslider-active { background: #82e0c1; border: 2px solid #82e0c1; cursor: default; }